{% extends 'blog/base_blog.html' %}

{% block title %}
  Delete Tag "{{tag.title|title}}" - {{ block.super }}
{% endblock %}


{% block content %}
  <form class="question {{ tag.get_delete_url }}" method="post">
    {% csrf_token %}

    <h3 class="white">Are you sure you want to delete <b>"{{ tag.title }}"</b> tag?</h3>
    <a class="btn btn-lg btn-outline-info mt-4" href="{{ tag.get_absolute_url }}">Cancel</a>
    <button class="btn btn-lg btn-danger mt-4 ml-2" type="submit" name="button">Delete</button>
  </form>

{% endblock %}
